In [1]:
#import required packages
import pandas as pd

[DATASET](https://www.kaggle.com/abbasit/kyphosis-dataset)

In [2]:
df = pd.read_csv("kyphosis.csv")
df

   Kyphosis  Age  Number  Start
0    absent   71       3      5
1    absent  158       3     14
2   present  128       4      5
3    absent    2       5      1
4    absent    1       4     15
5    absent    1       2     16
6    absent   61       2     17
7    absent   37       3     16
8    absent  113       2     16
9   present   59       6     12
10  present   82       5     14
11   absent  148       3     16
12   absent   18       5      2
13   absent    1       4     12
14   absent  168       3     18
15   absent    1       3     16
16   absent   78       6     15
17   absent  175       5     13
18   absent   80       5     16
19   absent   27       4      9
20   absent   22       2     16
21  present  105       6      5
22  present   96       3     12
23   absent  131       2      3
24  present   15       7      2
25   absent    9       5     13
26   absent    8       3      6
27   absent  100       3     14
28   absent    4       3     16
29   absent  151       2     16
..      ...  ...     ...    ...
51   absent    9       2     17
52  present  139      10      6
53   absent    2       2     17
54   absent  140       4     15
55   absent   72       5     15
56   absent    2       3     13
57  present  120       5      8
58   absent   51       7      9
59   absent  102       3     13
60  present  130       4      1
61  present  114       7      8
62   absent   81       4      1
63   absent  118       3     16
64   absent  118       4     16
65   absent   17       4     10
66   absent  195       2     17
67   absent  159       4     13
68   absent   18       4     11
69   absent   15       5     16
70   absent  158       5     14
71   absent  127       4     12
72   absent   87       4     16
73   absent  206       4     10
74   absent   11       3     15
75   absent  178       4     15
76  present  157       3     13
77   absent   26       7     13
78   absent  120       2     13
79  present   42       7      6
80   absent   36       4     13

[81 rows x 4 columns]

In [3]:
df.shape

(81, 4)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 4 columns):
Kyphosis    81 non-null object
Age         81 non-null int64
Number      81 non-null int64
Start       81 non-null int64
dtypes: int64(3), object(1)
memory usage: 2.6+ KB

In [5]:
df.describe()

              Age     Number      Start
count   81.000000  81.000000  81.000000
mean    83.654321   4.049383  11.493827
std     58.104251   1.619423   4.883962
min      1.000000   2.000000   1.000000
25%     26.000000   3.000000   9.000000
50%     87.000000   4.000000  13.000000
75%    130.000000   5.000000  16.000000
max    206.000000  10.000000  18.000000

In [6]:
df.isnull().sum()

Kyphosis    0
Age         0
Number      0
Start       0
dtype: int64

In [7]:
df.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [8]:
df.Kyphosis.value_counts()

absent     64
present    17
Name: Kyphosis, dtype: int64

In [ ]:
df.Number.value_counts()

3     23
4     18
5     17
2     12
7      5
6      4
10     1
9      1
Name: Number, dtype: int64

In [ ]:
# features
x = df.drop("Kyphosis",axis=1)

In [ ]:
#target
y = df["Kyphosis"]

In [ ]:
# splitting the data for training and testing

from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=0)

In [ ]:
# model
from sklearn.tree import DecisionTreeClassifier

In [ ]:
dtc = DecisionTreeClassifier()

In [ ]:
dtc.fit(x_train,y_train)

In [ ]:
pred = dtc.predict(x_test)

In [ ]:
pred

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [ ]:
accuracy_score(y_test,pred)

In [ ]:
confusion_matrix(y_test,pred)

In [ ]:
print(classification_report(y_test,pred))

## Decicion Tree Regressor
- Target - continous
- MSE,RMSE,R2_SCORE

[DATASET](https://drive.google.com/file/d/1vcicKFtqFPzR9EsE7_NzElqxF6iB1b0G/view?usp=sharing)

In [ ]:
data = pd.read_csv("IceCreamData.csv")
data.head()

In [ ]:
data.shape

In [ ]:
data.isnull().sum()

In [ ]:
# spliting data for features and target
data.columns

In [ ]:
#feature
x = data[["Temperature"]]

In [ ]:
#target
y = data[["Revenue"]]

In [ ]:
# split the data for training and testing

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=2)

In [ ]:
# model 
from sklearn.tree import DecisionTreeRegressor

In [ ]:
reg = DecisionTreeRegressor(max_depth=3)

In [ ]:
reg.fit(x_train,y_train)

In [ ]:
# predict the results
y_pred = reg.predict(x_test)

In [ ]:
y_pred

In [ ]:
reg.score(x_test,y_pred)

In [ ]:
1.0*100

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(x_test,y_pred)

In [ ]:
import math

In [ ]:
math.sqrt(mean_squared_error(x_test,y_pred))

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
fig, ax = plt.subplots()
ax.scatter(x_test,y_test,color = "red",label = "original data")
ax.scatter(x_test,y_pred,color = "green",label = "predicted data")

plt.title("Decision Tree Regressor")
plt.xlabel("Temperature")
plt.ylabel("Revenue")
plt.show()

In [ ]:
from sklearn.datasets import load_boston

In [ ]:
boston = load_boston()
boston

In [ ]:
x = boston["data"]

In [ ]:
x

In [ ]:
x1 = pd.DataFrame(boston["data"],columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
        'TAX', 'PTRATIO', 'B', 'LSTAT'])
x1.head()

In [ ]:
y = pd.DataFrame(boston["target"],columns=["target"])

In [ ]:
y.head()

In [ ]:
x1.info()

In [ ]:
y.info()

In [ ]:
x1.isnull().sum()

In [ ]:
y.isnull().sum()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(x1,y,test_size=0.3,random_state=3)

In [ ]:
#Training the Decision Tree Regression model on the training set
# Fitting Decision Tree Regression to the dataset
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(max_depth=3)
regressor.fit(X_train, y_train)

In [ ]:
#Predicting the Results
y_pred = regressor.predict(X_test)

In [ ]:
regressor.score(X_test,y_pred)